html {
    display: flex;
    justify-content: center;
}

body {
    background-color: gray;
    color: black;
}

.grid-container {
    display: grid;
    height: 600px;
    width: 600px;
    margin-top: 10px;
    box-shadow: black 0px 3px 8px;
    background-color: white;
}

.grid-box {
    display: flex;
    /* ugly ass green to show the boxes were created! */
    /* background-color: green; */
    transition-duration: 0.07s;
}

.grid-box:hover {
    background-color: red;

}